
nav.main {
  background-color: #fff;
  padding: 0 30px 30px 0;

  ul {
    list-style-type: none;

    li {
      a {
        display: block;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        padding: 10px;
        transition: .3s;

        &:hover {
          transform: translateX(10px);
        }

        &.active {
         border-left: 10px $secondary-color solid;
          transform: translateX(0);
        }
      }
    }
  }
}
  