* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #000;
}

ul {
    display: flex;
    list-style: none;
}

li {
    flex-grow: 1;
}

a {
    display: block;
    padding: 15px 25px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 4px solid black;
}

a:hover {
    color: yellow;
    border-bottom: 4px solid yellow;
}

section {
    padding-top: 30px;
    text-align: center;
}

.active {
    border-bottom: 4px solid yellow;
}
