.total-price {
    padding: 20px;
}

.total-price__flex {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;
}

.total-price__price {
    font-weight: 700;
}

.total-price__btn-btn {
    appearance: none;
    background-color: rgb(204, 0, 0);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.total-price__btn-btn:hover {
    background-color: rgb(170, 0, 0);;
}